

body {
    background-color: #ffffff;

}


.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #26335d;
}

.navbar .logo {
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 900px;
    margin-left: 100px;
}

.navbar nav  {
    
    display: flex;
    gap: 20px;
}

.navbar nav a {
    color: #ffffff;
    text-decoration: none;
}

.manubuttons a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.manubuttons .login {
    background: transparent;
    
}

.manubuttons .join {
    background: #2ecc71;
    border: none;
    
  
}
.manubuttons{ margin-right: 100px;
    gap: 45px;
          }

.headercontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #26335d;
    color: #ffffff;
    gap:30px;
    
   

}

.headercontent .content {
    max-width: 50%;
    width:  573px;
    height: 386px;
    gap: 30px;
    opacity: 0px;
    margin-left:100px;
}

.headercontent #txt {
    color: #2ecc71;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

.headercontent h1 {
    font-size: 58px;
    margin-bottom: 20px;
}

.headercontent #description {
    font-size: 20px;
    margin-bottom: 30px;
}

.headercontent.buttons a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
}

.headercontent .get-quote {
    padding: 15px;
    border-radius: 5px;
    background-color: #2ecc71;
    color: #ffffff;
    text-decoration: none;
}

.headercontent .learn-more {
    width: 40px;
    border: 1px solid #2ecc71;
    padding: 15px;
    border-radius: 5px;
    background: transparent;
    color: #ffffff;
    text-decoration: none;
}

.headercontent .image img  {
    
    width: 400px;
    height: 502px;
   border-radius: 10px;
   margin-left:300px
   
    


}
.maintxt{ margin-left: 230px;
          gap:10px}
h6{ font-weight: 700px;
    font-size: 14px;
    line-height: 24px;
    color: #1BC768;}
   
 h2{ 
    font-weight: 700px;
    font-size: 40px;
    color: #252b42;
  
 }   
 #para{ font-weight: 400px;
         font-size: 14px;
        color: #737373;}
 #case{ 
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
     text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    

 } 
 .first{ 
    
    margin-left: 230px;
    width: Fixed (230px)px;
    height: Hug (292px)px;
    padding: 35px 40px 35px 40px;
    gap: 20px;
    opacity: 0px;
    margin-top:100px;
    box-shadow: 0px 13px 19px 0px #00000012;
    display:inline-block
    
   
 }
 #line{
    margin-left: 230px;
    width: 50px;
    height: 2px;
    gap: 0px;
    opacity: 0px;
    background: #E74040;

    }
    .con{
        margin-left: 230px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.20000000298023224px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        background: #737373;

        

        }
   .second{width: Fixed (230px)px;
    height: Hug (292px)px;
    padding: 35px 40px 35px 40px;
    gap: 20px;
    opacity: 0px;
    background: #FFFFFF;
    box-shadow: 0px 13px 19px 0px #00000012;
    margin-bottom: 300px;
    margin-left:300px;
    display:inline-block;


    }   
    .care{font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.20000000298023224px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        background: #737373;
        margin-left:300px;

        }  

        .third{width:230px;
            height: 312 px;
            padding: 35px 40px 35px 40px;
            gap: 20px;
            opacity: 0px;
            background: #1BC768;
            display:inline-block;
            margin-left:400px;
           
            
            
            }
         .dental{font-family: Montserrat;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0.10000000149011612px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            background: #FFFFFF;
            margin-left:400px;
}   
#line{width: 50px;
    height: 2px;
    gap: 0px;
    opacity: 0px;
    background: #FFFFFF;
    margin-left:400px;
}
.atomic{font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background: #FFFFFF;
    margin-left:400px;

    }



